@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@theme {
  --font-custom: Quicksand, sans-serif;
}

html {
  font-size: 15px;
}
